/* 输入框样式 */

.el-input__inner {
    height: 40px;
    line-height: 40px;
    background: #042061;
    box-shadow: 0 0 15px #3f98fc inset;
    border: 1px solid #3f98fc;
    text-indent: 10px;
    border-radius: 0;
    color: #fff
}


/*  select 三角形*/

.el-popper[x-placement^=bottom] .popper__arrow,
.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-color: transparent
}

.el-popper[x-placement^=bottom] {
    margin-top: 0
}


/* select 下拉 */

.el-select-dropdown__list {
    /* position: absolute; */
    background: #042061;
    padding: 4px;
    border-top: none;
    /*     top: 28px;
    left: 0;
    right: 0; */
    z-index: 1;
    box-shadow: 0 0 15px #3f98fc inset;
    border: 1px solid #3f98fc;
}

.el-select-dropdown__item {
    color: #fff
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background: #28a4c9;
    color: white;
}


/* 时间日历*/

.el-picker-panel,
.el-time-panel {
    background: #042061;
    box-shadow: 0 0 15px #3f98fc inset;
    border: 1px solid #3f98fc;
    color: #fff
}

.el-picker-panel__footer {
    background: transparent;
    border-top-color: #3f98fc
}

.el-time-spinner__item,
.el-time-spinner__item.active:not(.disabled),
.el-time-panel__btn {
    color: azure
}

.el-time-spinner__item:hover,
.el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: #28a4c9
}

.el-button.is-plain,
.el-button.is-plain:focus,
.el-button.is-plain:hover {
    background: transparent;
    border-color: #3f98fc;
    color: #66b1ff
}

.el-date-table th,
.el-date-picker__time-header,
.el-time-panel__footer {
    border-color: #3f98fc;
}


/* 对话框动画 */

@keyframes dialog-fade-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dialog-fade-out {
    10% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}